<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{{ brand }} | {{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}

    {% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-main navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        {% if show_brand %}
          <a class="navbar-brand" href="/">{{ brand }}</a>
        {% endif %}
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for item in left_menu %}
            <li class="{{ item.active ? 'active' : '' }}"><a href="{{ item.href }}">{{ item.text }} <span class="sr-only">(current)</span></a></li>
          {% endfor %}
        </ul>

        <ul class="nav navbar-nav navbar-right">

          {% for item in right_menu %}
            <li class="{{ item.active ? 'active' : '' }}"><a href="{{ item.href }}">{{ item.text }} <span class="sr-only">(current)</span></a></li>
          {% endfor %}

          {% if user %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-user-circle user-icon"></i>
                {{ user.name ? user.name : user.username }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/user">Account</a></li>
                <li><a href="/api/v1/forms/auth/logout">Logout</a></li>
              </ul>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

    {% block body %}

    {% endblock %}

  </body>

  {% block scripts %}

  {% endblock %}

</html>
